@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.grid-65 {
    display: grid;
    grid-template-columns: repeat(65, 1fr);
}

.grid-item {
    height: 17.97px;
    background-color: blue;
    border: 1px solid grey;

    position: relative;
}

.grid-item:hover {
    background-color:gray
}

.player {
    position: absolute;
    height:100%;
    width: 100%;
    border-radius: 50%;
    background-color: red;
}


.battle-container {
    position: relative;
    height: 40rem;
    max-height: 100vh;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.stats {
    display: flex;
    flex-flow: column;

    position: absolute;
    width: 50%;
    height:15%;
}

.stats meter {
    width: 100%;
    height: 2rem;
    transition: all 1s;
}

.stats .hp-bar {
    height: 1rem;
    background-color: grey;
    border-radius: 6px;
    position: relative;
    border: 1px solid black;
}

.stats > .hp-bar > .current-health {
    background-color: blue;
    border: 2px solid midnightblue;
    position:absolute;
    width:100%;
    height: 100%;
    border-radius: 6px;
    translate: scale(1,1);
    transition: transform 500ms ease-in-out;
}

.enemy-stats {
    top: 1rem;
    left: 0;
}

.entity-image{
    max-height: 100%;
    height: fit-content;
}

.entity-portrait {
    position:absolute;
    display: flex;
    justify-content: center;
}

.enemy-self {
    position: absolute;
    width: 50%;
    height:100%;
    top: 0;
    right: 0;
}

.player-self {
    position: absolute;
    width: 50%;
    height:70%;
    bottom: 0;
    left: 0;
}

.entity-portrait > .tween {
    animation: tween2 100ms linear 0s infinite ;
}

.entity-portrait > .dodge {
    animation: dodge 600ms linear 0s infinite ;
}

@keyframes tween2 {
    from { transform: translate(-2rem, 0)}
    to {transform: translate(2rem, 0)}
}

@keyframes dodge {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
}

.combat-menu {
    position: absolute;
    width: 50%;
    height:25%;

    bottom: 1rem;
    left: 0;

    transform: scale(0, 1);
    transition: transform 350ms ease-in-out;

    background-color: #777a;

    display: flex;
    flex-direction: column;
}

.combat-menu.active {
    transform: scale(1,1);
}

.combat-menu .combat-option {
    padding-left: 2rem;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid grey;
    border-left: 6px solid grey;
    background-color: #ccca;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.combat-menu .combat-option:hover {
    background-color: #eeea;
    border: 2px solid #ccca;
    border-left: 6px solid #ccca;
}

.notification {
    background-color: pink;
    position: absolute;
    top: -3rem;
    z-index: 10;
    padding: 0.5rem 1.5rem;
    min-width: 7rem;
    /*text-align: center;*/
    border: 2px solid indianred;
    text-transform: capitalize;
    transition: transform 200ms ease-in-out;
}
.notification.active {
    transform: translate(0, 7rem);
}
.player-stats {
    bottom: 1rem;
    right: 0;
}

.flip-image {
    transform: rotateY(
        180deg
    );
}
